@charset "UTF-8";

@media screen and (max-width: 1448px) {
    #musicas_curtidas, #travis_scott, #billie_eilish, .pastas_baixo {
        width: 310px;
    }

    div#banner_meio {
        width: 800px;
        height: 300px;
        transform: translate(-36%);
    }

    #img_pagode {
        width: 190px;
        height: 190px;
    }

    p#first_ludi {
        font-size: 35px;
    }

    div#text_ludi {
        margin-top: 20px;
    }

    .botao {
        top: 205px;
        left: 250px;
    }

    .botao:hover {
        top: 203px;
        left: 247px;
    }

    .play_hover {
        margin-left: 254px;
    }

    #play_hover_2:hover {
        margin-left: 253px;
    }
}