@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgb(16, 16, 16);
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgb(7, 7, 88), rgb(11, 11, 34), rgb(16, 16, 16), rgb(16, 16, 16), rgb(16, 16, 16));
}


#travis_scott:hover #banner_meio{
    color: black;
}

#container_left {
    background-color: rgb(0, 0, 0);
    width: 250px;
    position: fixed;
    height: 100vh;
    margin-bottom: 0px;
    color: white;
}


#casinha {
    position: absolute;
    top: 35px;
    left: 20px;
}

#lupa {
    position: absolute;
    top: 78px;
    left: 20px;
}

#pasta {
    position: absolute;
    top: 120px;
    left: 20px;
}

#adicionar {
    border-radius: 3px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 210px;
    left: 20px;
    background-color: rgb(212, 212, 212);
}


#adicionar > p {
    color: gray;
    font-size: 25px;
    text-align: center;
}

#gostei {
    border-radius: 3px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 20px;
    left: -40px;
    background-image: linear-gradient(to bottom right, rgb(0, 2, 128), rgb(113, 185, 179));
}

#coracao {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 6px;
    top: 6px;
}


    div#bolinhas {
        margin-left: 20px;
        margin-top: 10px;
    }

        div.bolinhas {
            width: 4px;
            height: 4px;
            background-color: white;
            display: inline-block;
            border-radius: 50%;
        }

    ul#lista_cima {
        margin-top: -10px;
        font-size: 14px;
    }

        li.lc {
            margin-left: 60px;
            list-style-type: none;
            font-weight: bold;
            margin-top: 25px;
            color: rgb(204, 204, 204);
        }

        li.lc:hover {
            color: white;
            cursor: pointer;
        }

    ul#lista_meio {
        margin-top: 75px;
        font-size: 14px;
    }

     li > a {
        text-decoration: none;
        color: rgb(204, 204, 204)
    }

    li > a:hover {
        color: white;
    }

    li > a:visited:hover {
        color: white;
    }

        li.lm {
            margin-left: 60px;
            list-style-type: none;
            font-weight: bold;
            color: rgb(204, 204, 204);
        }

        li.lm:hover {
            color: white;
            cursor: pointer;
        }

    div#linha {
        width: 225px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.212);
        margin-top: 20px;
        margin-left: 10px;
    }

    ul#lista_baixo {
        margin-top: 20px;
    }

        .lb {
            margin-left: 20px;
            list-style-type: none;
            margin-top: 10px;
            color: rgb(204, 204, 204);
            font-size: 15px;
        }

        .lb:hover {
            color: white;
            cursor: default;
        }


header {
    margin-left: 250px;
    height: 370px;
}

    div.setas {
        width: 35px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.466);
        display: inline-block;
        border-radius: 50%;
        margin-top: 5px;
        margin-left: 10px;
        position: absolute;
    }

    #maior_que {
        color: rgba(255, 255, 255, 0.753);
        font-size: 25px;
        text-align: center;
        cursor: pointer;
        margin-top: 2px;
    }

    #menor_que {
        color: rgba(255, 255, 255, 0.753);
        font-size: 25px;
        text-align: center;
        cursor: pointer;
        margin-top: 2px;
    }

    div#seta_direita {
        margin-left: 60px;
    }


    div#user {
        width: 135px;
        height: 35px;
        background-color: rgb(29, 29, 29);
        position: absolute;
        left: 80vw;
        margin-top: 5px;
        border-radius: 25px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

        div#bolinha_usuario {
            width: 30px;
            height: 30px;
            background-color: rgb(71, 71, 71);
            border-radius: 50%;
            position: relative;
            margin-top: 2px;
            margin-left: 2px;
        }

        div#user > p {
            margin-left: 40px;
            margin-top: -25px;
        }

        #usuario {
            margin-left: 3px;
        }

        #seta {
            position: absolute;
            margin-left: 110px;
            margin-top: -17px;
            transform: rotate(90deg);
            width: 15px;
        }

    div#banner_meio {
        background-color: black;
        background-image: linear-gradient(to bottom left, rgb(18, 18, 100), rgb(2, 4, 32), black);
        width: 1090px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-40%);
        height: 300px;
    }


        a {
            text-decoration: none;
            color: white;
        }

        #rock_a {
            color: black;
        }


        #img_pagode {
            background-color: gray;
            width: 220px;
            height: 220px;
            margin-left: 15px;
            margin-top: 40px;
            display: inline-block;
        }

        div#text_ludi {
            position: absolute;
            color: white;
            top: 70px;
            left: 260px;
        }

             p#first_ludi:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            p#first_ludi {
                font-size: 65px;
                font-weight: bold;
            }

        
        .botao {
            width: 90px;
            height: 40px;
            cursor: pointer;
            position: absolute;
            top: 235px;
            left: 250px;
            background-color: white;
            border-radius: 30px;
        }

        .botao:hover {
            top: 233px;
            left: 250px;
            padding: 2px;
            transition: 100ms;
        }

        #botao_play {
            background-color: rgb(0, 255, 0);
        }

        #botao_play > p, #botao_seguir > p {
            font-size: 20px;
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
        }

        #botao_seguir > p {
            font-size: 17px;
            color: white;
        }

        #botao_seguir {
            margin-left: 120px;
            background-color: black;
            border: 1px solid white;
        }

        #tres_pontos {
            color: white;
            font-size: 30px;
            height: 10px;
            margin-top: -30px;
            margin-left: 490px;
            cursor: pointer;
        }


main {
    margin-left: 250px;
    margin-bottom: 150px;
    background-color: rgba(255, 255, 255, 0);
}

    main > h2 {
        color: white;
        margin-left: 20px;
        margin-top: 30px;
    }

    #h2_horas {
        font-size: 30px;
    }


    div#container_pastas {
        height: 200px;
    }

        .pastas_cima {
            width: 450px;
            height: 85px;
            background-color: rgba(77, 77, 77, 0.507);
            display: inline-block;
            margin-top: 10px;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: 500ms;
        }


        .pastas_cima:hover {
            background-color: rgba(119, 119, 119, 0.596);
        }

                #coracao_curtidas {
                    position: absolute;
                    width: 53px;
                    height: 53px;
                    left: 16px;
                    top: 16px;
                }

                .titulo_pasta {
                    color: white;
                    margin-left: 110px;
                    margin-top: 35px;
                    font-weight: bold;
                    font-size: 17px;
                    position: absolute;
                }

                .play_hover {
                    opacity: 0%;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: rgb(0, 255, 0);
                    position: absolute;
                    margin-left: 380px;
                    margin-top: 0px;
                    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.644);
                    transition: 0.5s;
                }


                #play_hover_2 {
                    margin-top: 15px;
                    transition: 100ms;
                }

                #play_hover_2:hover {
                    width: 53px;
                    height: 53px;
                    margin-top: 14px;
                    margin-left: 379px;
                }

                #play_hover_2:hover #seta_play {
                    margin-top: 8px;
                    margin-left: 10px;
                }

                #musicas_curtidas:hover .play_hover, #travis_scott:hover .play_hover, #billie_eilish:hover .play_hover, #dos_predios:hover .play_hover, #Drake:hover .play_hover, #lil_nas_x:hover .play_hover {
                    opacity: 100%;
                }


                    #seta_play {
                        position: absolute;
                        width: 35px;
                        margin-top: 7px;
                        margin-left: 9px;
                        transition: 100ms;
                    }

            
            #gostei_curtidas { 
                box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.308);;
                border-radius: 3px 0px 0px 3px;
                width: 85px;
                height: 85px;
                position: absolute;
                background-image: linear-gradient(to bottom right, rgb(0, 2, 128), rgb(113, 185, 179));
            }

            #travis {
                box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.308);;
                border-radius: 3px 0px 0px 3px;
                width: 85px;
                height: 85px;
                position: absolute;
            }


                
            #billie {
                box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.308);;
                border-radius: 3px 0px 0px 3px;
                width: 85px;
                height: 85px;
                position: absolute;
            }      


        .pastas_baixo {
            width: 450px;
            height: 85px;
            background-color: rgba(77, 77, 77, 0.507);
            display: inline-block;
            margin-top: 10px;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s;
        }

        .pastas_baixo:hover {
            background-color: rgba(119, 119, 119, 0.596);
        }

            #predios {
                box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.308);;
                border-radius: 3px 0px 0px 3px;
                width: 85px;
                height: 85px;
                position: absolute;
            }

            
            #drake {
                box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.308);;
                border-radius: 3px 0px 0px 3px;
                width: 85px;
                height: 85px;
                position: absolute;
            }

            #lil {
                box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.308);;
                border-radius: 3px 0px 0px 3px;
                width: 85px;
                height: 85px;
                position: absolute;
            }


    #container_mixes {
        height: 260px;
    }

    

        .mixes {
            width: 190px;
            height: 260px;
            background-color: rgb(26, 26, 26);
            margin-left: 35px;
            margin-top: 50px;
            display: inline-block;
            border-radius: 20px;
        }

        .mixes:hover {
            background-color: rgba(48, 48, 48, 0.548);
            cursor: pointer;
        }

        #play_mixes {
            opacity: 0%;
            width: 40px;
            height: 40px;
            background-color: rgb(0, 255, 0);
            position: absolute;
            box-shadow: 1px 1px 20px 0px black;
            border-radius: 50%;
            margin-left: 120px;
            margin-top: 132px;
            transition: 0.5s;
        }

        #seta_reproduzir {
            width: 30px;
            margin-left: 6px;
            margin-top: 5px;
        }

        #mix_pop:hover #play_mixes, #mix_rock:hover #play_mixes, #mix_relax:hover #play_mixes, #mix_feliz:hover #play_mixes, #mix_veigh:hover #play_mixes, #mix_hiphop:hover #play_mixes {
            margin-top: 115px;
            opacity: 100%;
        }

        #play_mixes:hover {
            margin-top: 130px;
            margin-left: 118px;
            padding: 2px;
            transition: 100ms;
        }


            #seta_play {
                position: absolute;
                width: 35px;
                margin-top: 7px;
                margin-left: 9px;
                transition: 100ms;
            }


            #img_pop, #img_rock, #img_relax, #img_feliz, #img_veigh, #img_hiphop {
                width: 160px;
                height: 160px;
                position: absolute;
                border-radius: 7px;
                margin-left: 15px;
                margin-top: 10px;
            }

            div#cont_pop, #cont_rock, #cont_relax, #cont_feliz, #cont_veigh, #cont_hiphop {
                display: inline-block;
                position: absolute;
                margin-top: 180px;
                margin-left: 15px;
                color: rgb(255, 255, 255);
                width: 165px;
            }

            div#cont_pop > p, #cont_rock > p, #cont_relax > p, #cont_feliz > p, #cont_veigh > p, #cont_hiphop > p {
                font-size: 14px;
                margin-top: 10px;
                color: gray;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .faicha {
                width: 160px;
                height: 6px;
                position: relative;
                margin-top: -15px;
                border-radius: 0px 0px 4px 4px;
            }

            .faicha2 {
                width: 6px;
                height: 18px;
                position: absolute;
                margin-top: -39px;
            }

            #faicha_relax {
                background-color: yellow;
            }

            #faicha_rock {
                background-color: rgb(247, 0, 255);
            }

            #faicha_pop {
                background-color: rgb(247, 0, 255);
            }
            #faicha_feliz {
                background-color: red;
            }


footer {
    background-color: rgb(26, 26, 26);
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 90vh;
    border-top: 1px solid rgba(255, 255, 255, 0.123);
}


    div#center_footer {
        width: 900px;
        height: 100px;
        margin-left: 50%;
        transform: translate(-50%);
        position: absolute;
    }

        #center_up {
            width: 240px;
            height: 46px;
            position: relative;
            margin-left: 50%;
            transform: translate(-50%);
            margin-top: 10px;
        }  

            #embaralhar {
                width: 20px;
                margin-left: 10px;
                position: absolute;
                margin-top: 11px;
                cursor: pointer;
            }

            #voltar {
                width: 25px;
                margin-left: 50px;
                margin-top: 8px;
                position: absolute;
                cursor: pointer;
            }

            #play {
                width: 35px;
                margin-left: 50%;
                transform: translate(-50%);
                margin-top: 3px;
                position: absolute;
                cursor: pointer;
            }

                #play:hover {
                    width: 37px;
                    height: 37px;
                }

            #avancar {
                width: 25px;
                transform: rotate(180deg);
                margin-left: 160px;
                margin-top: 8px;
                position: absolute;
                cursor: pointer;
            }

            #repetir {
                width: 25px;
                margin-left: 205px;
                margin-top: 8px;
                position: absolute;
                cursor: pointer;
            }

        div#center_down {
            width: 765px;
            height: 25px;
            margin-left: 50%;
            transform: translate(-50%);
        }

            #ts {
                color: gray;
                position: absolute;
                margin-left: 725px;
                margin-top: 4px;
                font-size: 14px;
            }

            #linha_do_tempo {
                width: 660px;
                height: 4px;
                border-radius: 4px;
                background-color: rgb(255, 255, 255);
                margin-left: 50px;
                margin-top: 10px;
                position: absolute;
            }

            #tf {
                color: gray;
                position: absolute;
                margin-left: 5px;
                margin-top: 4px;
                font-size: 14px;
            }


div#right_footer {
    width: 220px;
    height: 40px;
    position: relative;
    margin-left: 84vw;
    margin-top: 25px;
}

    #mic {
        width: 20px;
    }

    #menu {
        width: 20px;
    }

    #dispositivos {
        width: 20px;
    }

    #volume {
        width: 20px;
    }

    .espaco_icons {
        margin-top: 10px;
        margin-left: 5px;
    }

    #barra_volume {
        border-radius: 3px;
        width: 95px;
        height: 4px;
        background-color: white;
        position: absolute;
        margin-left: 120px;
        margin-top: -15px;
    }


    

    
    