@charset "UTF-8";

@media screen and (max-width: 1235px) {
    #container_left {
        width: 200px;
    }

    #container_pastas {
        margin-left: -6%;
    }

    div#banner_meio {
        width: 700px;
        height: 300px;
    }

    p#first_ludi {
        font-size: 30px;
    }

    div#text_ludi {
        margin-top: 20px;
    }

    .botao {
        top: 185px;
        left: 250px;
    }

    .botao:hover {
        top: 183px;
        left: 247px;
    }

    #tres_pontos {
        margin-top: -60px;
    }

    #musicas_curtidas, #travis_scott, #billie_eilish, .pastas_baixo {
        width: 350px;
    }

    main > h2 {
        margin-top: 120px;
        margin-left: 00px;
    }

    
}